@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
  color: white;
}

/* Estilo para la tabla grande */
.table-large {
  font-size: 1.2rem; /* Ajusta el tamaño de fuente según tus necesidades */
}

/* Estilo para la tabla pequeña */
.table-small {
  font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus necesidades */
}
