@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .container{
    @apply mx-10 my-10
  }

  .dasboard {
    @apply bg-slate-500 h-full 
  }

  main {
    @apply grid grid-cols-2 gap-2
  }

}

.dasboard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width:200px;
  height:1200px ;
  padding: 10px;

}

.dasboard li{
  color: antiquewhite;
  padding: 6px;
}